<div class="codeframe-finish-container">
    <div class="codeframe-finish-card">
        <h2 style="color: {{color}};">{{title}}</h2>
        <p>{{desc}}</p>
        <p><small>{{auto}}</small></p>
        <button id="codeframe-finish-btn" class="codeframe-finish-btn">{{btn}}</button>
    </div>
</div>
